#ignore generated compiled files
*.pyc

#test files from rang_tests
test_utils.py
decorators.py
tests_chapter3.py
tests_chapter4.py
tests_chapter5.py
tests_chapter6.py
tests_chapter7.py
tests_chapter8.py
tests_chapter9.py
tests_chapter10.py
*.sqlite3
d_migration.py
tests.py
*.coverage